<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="solid3">
  <link name="base_link">
    <inertial>
      <origin xyz="0.00937906278884175 0.109574541839604 -0.0176406034497622" rpy="0 0 0" />
      <mass value="25.6539916981289" />
      <inertia ixx="0.239136649190483" ixy="-0.000543648890335132" ixz="-0.0422494851894456" iyy="0.822805328631802" iyz="0.0168713976789539" izz="0.650318661874187" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.666666666666667 0.698039215686274 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="-0.0814119959068246 -0.0120614415092496 -0.0809815984553269" rpy="0 0 0" />
      <mass value="5.92660865008124" />
      <inertia ixx="0.0335604025607875" ixy="0.00134261962617858" ixz="-0.00147164805199203" iyy="0.0408707533916105" iyz="-0.00283854911669952" izz="0.0310490806428308" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.666666666666667 0.698039215686274 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <origin xyz="0.29801 0.2 0" rpy="1.5708 0 -3.1416" />
    <parent link="base_link" />
    <child link="link1" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link2">
    <inertial>
      <origin xyz="-0.439916795610724 0.0508786014448957 -0.000216109224760589" rpy="0 0 0" />
      <mass value="44.0451816355128" />
      <inertia ixx="0.091038696848416" ixy="0.0911756527566456" ixz="-4.77491467702582E-05" iyy="1.31424043207446" iyz="1.26738558376208E-05" izz="1.36259880921922" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.666666666666667 0.698039215686274 0.768627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <origin xyz="-0.13 0 -0.008" rpy="1.5708 0 0" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link3">
    <inertial>
      <origin xyz="0.233294161003679 0.167905157920922 -1.32214400899531E-06" rpy="0 0 0" />
      <mass value="37.9822168688157" />
      <inertia ixx="0.0708795855582569" ixy="-0.000363986435515684" ixz="2.17579588033478E-07" iyy="0.37641163105333" iyz="3.31825717059638E-06" izz="0.406088517168859" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint3" type="revolute">
    <origin xyz="-0.99745 0.08447 0" rpy="3.1416 0 3.1416" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link4_1">
    <inertial>
      <origin xyz="-1.79609978339101E-05 -0.0115269291049353 -1.40231714642176E-10" rpy="0 0 0" />
      <mass value="1.25395773572626" />
      <inertia ixx="0.00324756833867933" ixy="2.59529040711565E-07" ixz="2.83067588495449E-12" iyy="0.000233301837825292" iyz="2.47242134765699E-12" izz="0.00329486106846473" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link4_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint4_1" type="revolute">
    <origin xyz="0.64199 0.11496 0" rpy="0 0 -0.039157" />
    <parent link="link3" />
    <child link="link4_1" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link4_2">
    <inertial>
      <origin xyz="-0.0134173560338948 -1.31474038585707E-08 0.0122322427000708" rpy="0 0 0" />
      <mass value="2.8041529195513" />
      <inertia ixx="0.0151881074878236" ixy="1.72586810669242E-10" ixz="-0.000581806705958958" iyy="0.009974172898808" iyz="-3.23711200702678E-09" izz="0.00744302242193031" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link4_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/link4_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint4_2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 3.1416" />
    <parent link="link4_1" />
    <child link="link4_2" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="flange_link">
    <inertial>
      <origin xyz="-0.0723377865054053 -0.00612579495257404 0.172458587917281" rpy="0 0 0" />
      <mass value="0.038742319690396" />
      <inertia ixx="7.13938617193655E-06" ixy="-3.74346635385156E-06" ixz="-2.16108410756992E-06" iyy="7.65549566134637E-06" iyz="-2.57612312481031E-06" izz="1.06292247040152E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/flange_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.686274509803922 0.686274509803922 0.686274509803922 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://solid3/meshes/flange_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="flange_joint" type="fixed">
    <origin xyz="-0.04 0 0" rpy="1.5708 0 -1.5708" />
    <parent link="link4_2" />
    <child link="flange_link" />
    <axis xyz="0 0 0" />
  </joint>
</robot>