Package: ros-humble-urdf-expansion-dbgsym
Package-Type: ddeb
Source: ros-humble-urdf-expansion
Version: 0.0.1-0jammy
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: eliseev <v.eliseev@rtc.ru>
Installed-Size: 478
Depends: ros-humble-urdf-expansion (= 0.0.1-0jammy)
Section: debug
Priority: optional
Description: debug symbols for ros-humble-urdf-expansion
Build-Ids: 55360f63e875f636558b35a833a2a3b272b9fa28
