<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="BU015X">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.7813E-05 -0.0744 0.10814"
        rpy="0 0 0" />
      <mass
        value="294.63" />
      <inertia
        ixx="7.1637"
        ixy="-0.0015873"
        ixz="-0.0030213"
        iyy="4.1926"
        iyz="-0.081824"
        izz="8.7241" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0022141 0.039151 0.2377"
        rpy="0 0 0" />
      <mass
        value="503.97" />
      <inertia
        ixx="21.028"
        ixy="0.067875"
        ixz="2.3911"
        iyy="20.401"
        iyz="-3.8727"
        izz="16.827" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-5.9843E-05 0.00011745 0.246"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.40345 0.0063894 0.072558"
        rpy="0 0 0" />
      <mass
        value="455.02" />
      <inertia
        ixx="10.111"
        ixy="-0.1466"
        ixz="-9.9335"
        iyy="60.841"
        iyz="-0.15034"
        izz="54.541" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0094402 0.14988 0.431"
      rpy="0 1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.109931968952137 -0.146481176429869 0.0734344535065873"
        rpy="0 0 0" />
      <mass
        value="272.157685657569" />
      <inertia
        ixx="6.23697819701919"
        ixy="-2.96675690683172"
        ixz="-1.39865393047907"
        iyy="6.9932105801827"
        iyz="-0.870152019669887"
        izz="10.0304642843794" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.87 0 -0.0005"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.00193255343266522 0.00166422271790631 0.469054683594162"
        rpy="0 0 0" />
      <mass
        value="160.702525787287" />
      <inertia
        ixx="15.1030287085768"
        ixy="0.00235046701173395"
        ixz="0.104757800980443"
        iyy="15.3755193196389"
        iyz="-0.130750762379144"
        izz="0.825033270991997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.407 -0.25 0.0099999"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="-0.229992657387358 6.50020742139212E-06 0.0716422143342171"
        rpy="0 0 0" />
      <mass
        value="63.5415872023697" />
      <inertia
        ixx="0.265674043685254"
        ixy="4.67562963577455E-05"
        ixz="-0.00419844751125186"
        iyy="1.40232294495365"
        iyz="-0.00145834311491958"
        izz="1.3015549240195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.0729 0.03 0.973"
      rpy="0 1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.0300812019090149 2.71730092123446E-05 0.073506977914761"
        rpy="0 0 0" />
      <mass
        value="8.22954379686483" />
      <inertia
        ixx="0.0209225216693337"
        ixy="4.65009824349627E-06"
        ixz="-0.00273440406878831"
        iyy="0.0254053630458686"
        iyz="6.34555967770372E-06"
        izz="0.0177295803783871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.47 0 0.0089"
      rpy="0 0 0" />
    <parent
      link="link7" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-3.44973310415908E-05 4.30434715648076E-10 0.00689131755656502"
        rpy="0 0 0" />
      <mass
        value="0.408307825192338" />
      <inertia
        ixx="0.000214218420085608"
        ixy="4.84513503046898E-12"
        ixz="1.64979961705214E-08"
        iyy="0.000217290843621419"
        iyz="3.816679735521E-12"
        izz="0.000413443088920908" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://BU015X/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.084209 0 0.064"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>